{% extends 'base.html' %}

{% block title %}
О сайте
{% endblock %}

{% block content %}
<div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">POSTS</h2>
        <p class="lead">О сайте</p>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">Наш сайт предлагает удобную платформу для создания и хранения заметок. Он разработан для тех, кто хочет организовать свои мысли, записи и идеи в одном месте.

На нашем сайте вы можете создавать новые заметки, редактировать уже существующие, а также удалять их при необходимости. Мы предоставляем различные инструменты для форматирования текста, такие как жирный, курсив и подчеркнутый шрифт, а также возможность создания списков и заголовков разных уровней.

Одной из особенностей нашего сайта является возможность создания категорий для заметок. Вы можете организовать свои заметки по темам или проектам, чтобы быстро находить нужную информацию.

Мы также предлагаем функцию поиска, которая поможет вам найти нужную заметку по ключевым словам или фразам.

Сайт имеет простой и интуитивно понятный интерфейс, что делает его легким в использовании как для новичков, так и для опытных пользователей. Мы также обеспечиваем безопасность ваших данных - все заметки сохраняются на сервере и доступны только вам.

Не важно, нужны ли вам заметки для работы, учебы или личных целей - наш сайт поможет вам организовать вашу информацию и сохранить ее в удобном и доступном месте.</div>
    </div>
{% endblock %}