{% extends 'base.html' %}

{% block title %}
    {{ user.username }}
{% endblock %}

{% block content %}
   <form action="{% url 'profile-view' user.username %}" method="post">
        {% csrf_token %}
       
        <div class="form-group mb-3">
            <label for="firstname">Имя</label>
            <input type="text" class="form-control" id="firstname" name="firstname" value="{{ user.first_name }}">
        </div>

        <div class="form-group mb-3">
            <label for="lastname">Фамилия</label>
            <input type="text" class="form-control" id="lastname" name="lastname" value="{{ user.last_name }}">
        </div>

        <div class="form-group mb-3">
            <label for="title">Телефон</label>
            <input type="text" class="form-control" id="phone" name="phone" value="{{ user.phone }}">
        </div>

        <button type="submit">Сохранить</button>
    </form>
    
   <div class="list-group-item">
        {% for tag in tags %}
            <li>{{ tag.name }}</li>
        {% endfor %}
    </div>
{% endblock %}